button{
    border: none;
    
}

.btn{
    padding: 1.12rem 2rem;
    color: var(--white-snow);
    background-color: var(--yellow);
    border-radius: 0.25rem;
    font:600 1rem/120% var(--raleway);
    white-space: nowrap;
    cursor: pointer;
}

@media (width >= 80em){
    .btn{
        padding: 0.875rem 2rem;
    }
}